.pokedex {
    position: relative;
    background: url(images/pokedex1.svg) no-repeat;
    width: 1400px;
    height: 1080px;
    margin: 180px auto;
}
/* botões */
#botao-iniciar  {
    outline: none;
    box-shadow: none;
    position: absolute;
    width: 250px;
    height: 82px;
    bottom: 61em;
    left: 27em;
    cursor: url("images/Cursor/clicado.cur"), auto;
}

#botao-som {
    outline: none;
    box-shadow: none;
    top: 71%;
    width: 8%;
    width: 9%;
    height: auto;
    position: absolute;
    left: 4%;
    cursor: url("images/Cursor/clicado.cur"), auto;
}

#botao-reset {
    outline: none;
    box-shadow: none;
    position: absolute;
    width: 250px;
    height: 99px;
    left: 60em;
    top: 177px;
    cursor: url("images/Cursor/clicado.cur"), auto;
}
/* Visor do lado esquerdo */
.visor-esquerdo-box {
	top: 25%;
    left: 4%;
    width: 43%;
    height: 56%;
    position: relative;
}

#visor-esquerdo {
    background: url(images/tela1.svg) no-repeat;
    bottom: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.tela2 {
    
    position: absolute;
    width: 42%;
    height: 56%;
    left: 57%;
    top: -31%;
}

#fundotela {
    background: url(images/fundotela.svg);
    position: absolute;
    width: 96%;
    height: 99%;
    bottom: 0%;

}

#explosao {
    background: url(images/explosao.svg) no-repeat;
    position: absolute;
    width: 77%;
    height: 100%;
    bottom: 0%;
}

#poke-logo {
    background: url(images/poke-logo.svg) no-repeat;
    position: absolute;
    width: 65%;
    height: 60%;
    top: 48%;
    left: 14%;
}

#tela-esquerda-desligado {
    background: url(images/tela-esquerda.svg) no-repeat;
    position: absolute;
    width: 85%;
    height: 93%;
    bottom: 3%;
    left: 3%;
}

/* Visor lado direito */
.visor-direito-box {
    bottom: 31%;
    width: 43%;
    height: 56%;
    position: relative;
    right: -55%;
}

#tela-direita-desligada {
    background: url(images/tela-direita.svg) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3%;
    left: 1%;
 
}

#visor-direito {
    background: url(images/tela2.svg) no-repeat;
    position: absolute;
    width: 115%;
    height: 104%;
    left: -2%;
    top: -1%;
}

.pokedex-infos {
    left: 8%;
    position: relative;
    top: 3%;
    width: 512px;
    height: 572px;
}

#lista-opcoes {
    background: #ffbb24;
    width: 486px;
    left: 17px;
    height: 540px;
    position: absolute;
    bottom: 2%;
    border-radius: 50px;
}

#triangulo-cima {
    left: 44%;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 6%;
}

#triangulo-baixo {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 3%;
    left: 44%;
}

.tabela-pokemon {
    display: none;
    position: absolute;
    left: 27%;
    font-size: 30px;
    top: 2%;
    font-family: 'Press Start 2P', cursive;
    cursor: url("images/Cursor/clicado.cur"), auto;
}

.tabela-pokemon div {
    padding-top: 3em;
}

#poke1 {
    position: absolute;
    width: 150px;
    top: 177px;
    left: -13px;
}

#poke2 {
    position: absolute;
    width: 150px;
    top: 55px;
    left: -13px;    
}

#poke3 {
    position: absolute;
    width: 150px;
    top: 299px;
    left: -13px;    
}

#poke4 {
    position: absolute;
    width: 150px;
    top: 417px;
    left: -13px;;   
}

#pokes {
    display: none;
}

#pokezinho {
    text-transform: capitalize;
}

.pokegif {
    bottom: 2%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 23%;
}

.certo {
    display: none;
    transform: rotate(17deg);
    right: 4%;
    position: absolute;
    background: url(images/certo.svg) no-repeat;
    width: 150px;
    height: 150px;
    bottom: 51%;
    
}

.errado {
    display: none;
    transform: rotate(17deg);
    right: 4%;
    position: absolute;
    background: url(images/errado.svg) no-repeat;
    width: 150px;
    height: 150px;
    bottom: 51%;
}

.novo-jogo {
    display: none;
    top: 11%;
    left: 37%;
    position: absolute;
    background: url(images/novojogo.svg) no-repeat;
    width: 150px;
    height: 150px;
    cursor: url("images/Cursor/clicado.cur"), auto;
}



.nome-certo {
    display: none;
    transform: rotate(-17deg);
    position: absolute;
    background: url(images/nomespokecertos.svg) no-repeat;
    width: 150px;
    height: 150px;
    left: 7%;
    bottom: 51%;
   
}

.nome-errado {
    display: none;
    transform: rotate(-17deg);
    position: absolute;
    background: url(images/nomespokecertos.svg) no-repeat;
    width: 150px;
    height: 150px;
    left: 7%;
    bottom: 51%;
    

}

h1 {
    font-family: 'Press Start 2P';
    color: #050505;
    position: absolute;
    top: 14px;
    left: 1%;
    text-align: center;
}
h2 {
    font-family: 'Press Start 2P';
    color: #31e105;
    position: absolute;
    top: 25%;
    left: 9%;
}

h1:hover {
    color: #f70000
}

h3 {
    font-family: 'Press Start 2P';
    color: #f70000;
    position: absolute;
    top: 25%;
    left: 9%;
}