body {
	cursor: url("images/Cursor/pointer.cur"), pointer;
	margin: 0;
	padding: 0;
	background: url(images/background/bg1.png);
	background-size:contain;
	background-attachment: fixed;
}

.nuvens {
	position: absolute;
	width: 100%;
	height: 100%;
}

.topo {
	width: 900px;
	margin: 10px auto;
	align-content: center;
}

#nuvem-cima {
	left: 70%;
	position: fixed;
	background: url(images/background/nuvem-superior.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	animation: nuvem1 35s linear 3s infinite;
	

}

@keyframes nuvem1 {
	from {
	  margin-left: 100%;
	}
  
	to {
	  margin-left: -100%;
	}
  }

  #nuvem-baixo {
	position: fixed;
	background: url(images/background/nuvem-inferior.png) no-repeat;
	background-size: 80%;
	width: 100%;
	height: 100%;
	animation: nuvem 35s linear infinite;
}

@keyframes nuvem {
	from {
	  margin-left: 100%;
	}
  
	to {
	  margin-left: -100%;
	}
  } 
  
#header {
	background-color: #79C9F9;
	height: 150px;

}

#whos {
	position: relative;
    width: 940px;
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-color: #333232;
    border-width: 20px;
    border-radius: 30px;
}



